# ---- Jupyter ----
.ipynb_checkpoints/

# ---- Virtual environments ----
.env
.venv/
env/
venv/
*.egg-info/

# ---- OS / editor junk ----
.DS_Store
Thumbs.db

# ---- intermediate dfs and model parameters ----
assets/intermediate_dfs/
assets/model/

# ---- Streamlit secrets ----
.streamlit/secrets.toml
